* {
    box-sizing: border-box;
}

:root {
    --hue: 220;
}

body {
    background: hsl(var(--hue), 100%, 5%);
    height: 100vh;
    overflow: hidden;
}

.star {
    --hue: 55;
    border-radius: 50%;
    background: hsl(var(--hue), 100%, 50%);
    box-shadow: 0 0 5px 1px hsl(var(--hue), 100%, 85%);
    height: calc(var(--size, 2) * 1px);
    position: absolute;
    width: calc(var(--size, 2) * 1px);
    left: calc(var(--x, 0) * 1vw);
    opacity: 0.5;
    top: calc(var(--y, 0) * 1vw);
    animation: flicker calc(var(--duration, 2) * 1s) calc(var(--delay, 10) * 1s) infinite steps(1);
}

.hill {
    background: hsl(var(--hue), 70%, 7%);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 45vmin;
    width: 68vmin;
    border-radius: 0 100% 0 0;
}

.hill:after {
    content: '';
    position: absolute;
    height: 35vmin;
    width: 100vmax;
    background: hsl(var(--hue), 80%, 6%);
    left: 0;
    bottom: 0;
    border-radius: 0 100% 0 0;
}

.moon {
    height: 40vmin;
    width: 40vmin;
    position: absolute;
    left: 0;
    top: 0;
    background: hsl(0, 10%, 75%);
    border-radius: 50%;
    box-shadow: 0 0 50px 10px hsl(0, 0%, 55%);
    transform: translate(-50%, -50%);
    filter: blur(10px);
}

.lights {
    width: 200vmax;
    height: 100vmax;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-20%, -55%) rotate(30deg);
    display: flex;
    filter: blur(80px);
   
}

.light {
    flex: 1;
    --color-one: hsla(var(--hue-1), 100%, 50%, var(--alpha-1));
    --color-two: hsla(var(--hue-2), 100%, 50%, var(--alpha-2));
    --color-three: hsla(var(--hue-3), 100%, 50%, var(--alpha-3));
    --up: calc(var(--y, 10) * 2vmax);
    --left: calc(var(--x, 2) * 2vmax);
    background-image: linear-gradient(0deg, transparent, var(--color-one) 10%, transparent, var(--color-two) 40%, transparent, var(--color-three) 60%);
    background-size: 100% 40vmax;
    background-position: center bottom;
    background-repeat: no-repeat;
    transform: translate(var(--left), var(--up)) scale(1);
    animation: shift calc(var(--duration, 2) * 1s) calc(var(--delay, 0) * -1s) infinite ease;
}

@keyframes shift {
    50% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes flicker {
    0%, 50%, 100% {
        transform: scale(1);
    }
    25% {
        transform: scale(0);
    }
}


@media screen and (orientation: portrait) {
    body {
        background: black;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .scene, .image-container, .ranchi {
        display: none; /* Hide content in portrait */
    }
    .popup-animation-container, .popup.show, .overlay {
        display: none !important;
    }
    body:after {
        content: "Please change to landscape";
        font-size: 2rem;
    }
}